*,
*::before,
*::after {
  box-sizing: border-box;
  margin-bottom: 0;
  margin: 0 0 0 0;
}
.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}
/*body*/
body {
  color: #434455;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}
main {
  margin-top: 0px;
}
img {
  display: block;
}
/*h1-3'*/
h1 {
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
}
h2 {
  color: currentColor;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
h3 {
  color: currentColor;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
/*lists*/
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/*text*/
p {
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}
/*header*/
.header {
  border-bottom: 1px solid #e7e9fc;
  width: 1440px;
  height: 72px;
}
.header-box {
  display: flex;
  margin-left: 0px;
}
.header-list {
  display: flex;
  align-items: center;
  margin-left: 0px;
}
.logo {
  display: block;
  margin: 0px 76px 0px 156px;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.logo-studio {
  margin-left: 0px;
  color: #2e2f42;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}
.nav-list {
  margin: 24px 0;
  display: flex;
  gap: 40px;
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1, 5;
  letter-spacing: 0.32px;
  text-decoration: none;
}
.nav-item {
  color: currentColor;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  padding: 24px 0;
}
.nav-item:hover,
:focus {
  color: #404bbf;
}
.header-address {
  display: flex;
  font-style: normal;
  margin-top: 24px;
  padding: 0px;
}
.header-address-list {
  display: flex;
  gap: 40px;
  margin-top: 0px;
  margin-left: 332px;
}
.address-item {
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-top: 0px;
}
.address-item:hover,
:focus {
  color: #404bbf;
}
/*section 1 landing*/
.section-landing {
  background: #2e2f42;
}
.langing-header {
  width: 496px;
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1, 0714;
  letter-spacing: 1.12px;
  padding: 158px 472px 292px;
}
.landing-button {
  cursor: pointer;
  background: #4d5ae5;
  color: var(--WHITE, #fff);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.64px;
}
.landing-button:hover,
:focus {
  background-color: #404bbf;
}
/*section 2 SPDT*/
.section-spdt {
  background-color: #fff;
}
.spdt-header {
  color: #2e2f42;
}
.spdt-paragraph {
}
/*section 3 Our Team*/
.section-team {
  background-color: #f4f4fd;
}
.team-header {
  color: #2e2f42;
  text-align: center;
}
.team-list {
  background: #fff;
}
.team-list-header {
  color: #2e2f42;
  line-height: 1.2;
}
.team-list-paragraph {
  font-size: 16px;
  line-height: 1.5;
}
/*section 4 Portfolio*/
.section-portfolio {
  background-color: #fff;
}
.portfolio-header2 {
  color: #2e2f42;
  line-height: 1.11;
  text-align: center;
}
.portfolio-list {
  background: var(--WHITE, #fff);
}
.portfolio-header-list {
  color: #2e2f42;
  line-height: 1.2;
}
.portfolio-paragraph {
  line-height: 1.5;
}
/*footer*/
.footer {
  background-color: #2e2f42;
}
.footer-logo-studio {
  color: #f4f4fd;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1, 67;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}
.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.footer-text {
  color: #f4f4fd;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}
